@mixin font-face($name, $style, $weight, $path, $woff: $path + '.woff', $woff2: $path + '.woff2', $ttf: $path + '.ttf', $svg: $path + '.svg') {
    @font-face {
        font-family: $name;
        font-weight: $weight;
        font-style: $style;
        src: url($woff2) format('woff2'), url($woff) format('woff'), url($ttf) format('truetype'), url($svg) format('svg');
    }
}

@mixin media-lg {
    @media (max-width: 1199.98px) {
        @content;
    }
}

@mixin media-md {
    @media (max-width: 991.98px) {
        @content;
    }
}

@mixin media-sm {
    @media (max-width: 767.98px) {
        @content;
    }
}

@mixin media-xs {
    @media (max-width: 575.98px) {
        @content;
    }
}

@mixin media-480 {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin media-380 {
    @media (max-width: 380px) {
        @content;
    }
}