@import "mixin";

#wrapper__body {
    &.post {
        .post-main {
            padding-top: 9rem;
            padding-bottom: 4rem;
            @include media-xs {
                padding-top: 7rem;
            }
            .heading {
                max-width: 760px;
                margin: 0 auto;
                @include media-xs {
                    margin-top: 1rem;
                }
                span {
                    font-size: .9rem;
                    font-weight: 700;
                    margin-bottom: 1rem;
                    display: block;
                    height: 22px;
                }
                h1 {
                    font-size: 2.6rem;
                    font-weight: 700;
                    margin-bottom: 1rem;
                    line-height: 1.4;
                    @include media-lg {
                        font-size: 2.4rem;
                    }
                    @include media-md {
                        font-size: 2.2rem;
                    }
                    @include media-sm {
                        font-size: 2rem;
                    }
                    @include media-xs {
                        font-size: 1.8rem;
                    }
                }
                p {
                    max-width: 500px;
                    margin: 0 auto 2rem auto;
                    @include media-sm {
                        margin: 0 auto 1.5rem auto;
                    }
                }
            }
            .image {
                margin-top: 3rem;
                margin-bottom: 4rem;
                @include media-md {
                    margin: 2rem 0 3rem 0;
                }
                @include media-sm {
                    margin: 2rem 0 2rem 0;
                }
                @include media-xs {
                    margin: 1rem 0 1rem 0;
                }
                img {
                    width: 100%;
                    border-radius: 6px;
                    box-shadow: 0 5px 5px rgba(0,0,0,.05),0 7px 15px rgba(0,0,0,.07);
                }
            }
            .date {
                font-size: .9rem;
                color: #9badbc;
                font-weight: 700;
            }
            .body {
                max-width: 760px;
                margin: 0 auto;
                p {
                    font-weight: 500;
                    line-height: 1.9;
                }
                ul li {
                    font-weight: 500;
                    line-height: 1.9;
                }
                h2 {
                    font-size: 2rem;
                    margin-top: 3rem;
                }
                h3 {
                    font-size: 1.8rem;
                    margin-top: 2.6rem;
                }
                strong {
                    color: black;
                    font-weight: 700;
                }
                em {
                    color: black;
                }
                pre {
                    display: block;
                    background: #f6f7f9;
                    color: #a48cd3;
                    padding: 1.5rem;
                    width: 100%;
                    border-radius: 6px;
                    strong {
                        color: #a48cd3;
                    }
                }
            }
        }
    }
}