@import "mixin";

#wrapper__body {
  &.profile {
    .modal {
      .modal-footer {
        .btn {
          font-weight: 500;
          border-radius: 6px;
          padding: .68rem 1rem;
          line-height: 1;
        }
      }
      .invalid-feedback {
        display: block;
        font-weight: 600;
        &.hide {
          display: none;
        }
      }
      label {
        font-size: 14px;
        font-weight: 500;
      }
      .form-control {
        font-size: 0.9rem;
      }
    }
    &.licenses {
      #wrapper__content .section.main {
        main {
          overflow: auto;
          height: 100vh;
          .form {
            width: 800px;
            max-width: 800px;
            .releases {
              padding: 0;
              margin: 0;
              list-style: none;

              li.release {
                background: white;
                box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
                border-radius: 0.25rem;
                overflow: hidden;

                &:not(:last-child) {
                  margin-bottom: 1.5rem;
                }

                .header {
                  display: flex;
                  justify-content: space-between;
                  align-items: baseline;
                  padding: 1rem 1.5rem;
                  border-bottom: 1px solid #eef1f4;

                  p {
                    margin-bottom: 0;
                    font-size: .8rem;
                    font-weight: 600;

                    &:not(.notallow) {
                      text-transform: uppercase;
                      color: var(--gray);
                    }
                  }

                  .download {
                    font-weight: 500;
                    border-radius: 6px;
                    padding: 0.68rem 1.2rem;
                    line-height: 1;
                  }
                }

                .markdown {
                  padding: 1.25rem 1.5rem;

                  ul {
                    padding: 0;
                    margin-bottom: 1.5rem;
                    list-style-position: inside;
                    font-size: .9rem;

                    li {
                      line-height: 1.5;

                      code, kbd, samp {
                        font-family: monospace, monospace;
                        font-size: 1em;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    #wrapper__content {
      .section.main {
        main {
          padding-top: 7rem;
          .form {
            width: 500px;
            max-width: 500px;
            padding: 1.5rem;
            margin-right: 0;
            margin-left: 0;
            border: 1px solid #dee2e6;
            border-radius: .25rem;
            @include media-md {
              width: 100%;
            }
            &:not(:last-child) {
              margin-bottom: 2rem;
            }
            &:nth-child(2) {
              width: 1000px;
              max-width: 1000px;
              h2 {
                margin: 0;
                border: 0;
              }
              table.table {
                background: white;
                box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
                border-radius: 0.25rem;
                overflow: hidden;
                margin: 0;
                thead th {
                  border-bottom-width: 1px;
                  padding: 1rem 2rem;
                  text-transform: uppercase;
                  font-size: .8rem;
                  color: var(--gray);
                }
                .renameLicense {
                  display: flex;
                  align-items: center;
                  [type="submit"] {
                    margin-top: 0;
                    padding: 0.68rem 1rem;
                    margin-left: .5rem;
                  }
                }
                th, td {
                  border-top: 0;
                  padding: .75rem 2rem;
                  vertical-align: baseline;
                }
              }
            }
            h1, h2 {
              padding-top: 0;
              border-bottom: 1px solid #dee2e6;
              padding-bottom: 1rem;
              margin-bottom: 1rem;
              margin-top: 0;
            }
            .help-text {
              font-weight: 400;
              font-size: 16px;
            }
            .form-div {
              label {
                font-size: 14px;
                font-weight: 500;
              }
              select {
                appearance: none;
                background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
                background-repeat: no-repeat, repeat;
                background-position: right 1rem top 55%, 0 0;
                background-size: 0.5rem auto, 100%;
              }
              .form-control {
                font-size: .9rem;
              }
            }
            [type="submit"] {
              margin-top: .5rem;
              font-weight: 500;
              border-radius: 6px;
              padding: .68rem 1.2rem;
              line-height: 1;
            }
            .invalid-feedback {
              display: block;
              font-weight: 600;
            }
          }
          .licence-btn {
            margin-top: .5rem;
            font-weight: 500;
            border-radius: 6px;
            padding: .68rem 1.2rem;
            line-height: 1;
          }
        }
      }
    }
    [data-notify="container"] {
      width: 100%;
      transition: all .5s ease-in-out 0s;
      z-index: 999999;
      margin: 0;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 14px;
    }
  }
}